
@{
    ViewBag.Title = "ShowCourses";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<head>
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/buttons.dataTables.min.css" />
    <script defer src="~/assets/Administration/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_1.13.5_js_jquery.dataTables.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_dataTables.buttons.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_pdfmake.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_vfs_fonts.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.html5.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.print.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/DataTable.js"></script>

    
</head>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Lista de Cursos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Inicio</a></li>
                <li class="breadcrumb-item">Cursos</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <br />
                        <div class="row">
                            <br>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <br>
                                        @if (ViewBag.MsjPantallaPostivo != null)
                                        {
                                            <div id="mensajePositivo" style="text-align:center" class="alert alert-success" role="alert">
                                                @ViewBag.MsjPantallaPostivo
                                            </div>
                                        }
                                        @if (ViewBag.MsjPantallaNegativo != null)
                                        {
                                            <div id="mensajeNegativo" style="text-align:center" class="alert alert-danger" role="alert">
                                                @ViewBag.MsjPantallaNegativo
                                            </div>
                                        }

                                        <br>
                                        <div>

                                            <a href="@Url.Action("AddCourse", "Course")"  style="background-color: #5f81e8" class="btn m-0 w-25 text-white" id="UserFormButton">Agregar Curso</a>

                                        </div>
                                        <br>


                                        <table id="DataTable" class="table table-hover" style="width: 100% !important;">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Nombre del Curso</th>
                                                    <th style="text-align:center">Modalidad</th>
                                                    <th style="text-align:center">Duracion</th>
                                                    <th style="text-align:center">Nivel</th>
                                                    <th style="text-align:center">Estado</th>
                                                    <th style="text-align:center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td style="text-align: center;">@item.CourseName</td>
                                                        <td style="text-align: center;">@item.ModalityName</td>
                                                        <td style="text-align: center;">@item.DurationWeeks</td>
                                                        <td style="text-align: center;">@item.LevelCourseName</td>
                                                        <td style="text-align: center;">@item.statusname</td>
                                                        <td style="text-align:center">
                                                            <a type="submit" class="btn btn-sm text-white" style="background-color: #5f81e8;" href="@Url.Action("EditCourse","Course", new { courseId = item.CourseID })">Editar</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th style="text-align:center">Nombre del Curso</th>
                                                    <th style="text-align:center">Modalidad</th>
                                                    <th style="text-align:center">Duracion</th>
                                                    <th style="text-align:center">Nivel</th>
                                                    <th style="text-align:center">Estado</th>
                                                    <th style="text-align:center">Acciones</th>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Regresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->


<script>

    setTimeout(function () {
        var mensajeDiv = document.getElementById('mensajePositivo');
        if (mensajeDiv != null) {
            mensajeDiv.style.display = 'none';
        }

        var mensajeDiv2 = document.getElementById('mensajeNegativo');
        if (mensajeDiv2 != null) {
            mensajeDiv2.style.display = 'none';
        }


        $.ajax({
            url: '/Group/cleanSessionMessage', // Ruta del controlador y acción
            type: 'Get', // Método de solicitud (en este caso, POST)
            data: {},
            success: function (response) {


            },
            error: function (error) {

                // Manejar errores si los hay
            }
        });

    }, 3000); // 5000 milisegundos = 5 segundos


</script>