
@{
    ViewBag.Title = "ShowGroups";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}


<heah>
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/1.5.1_css_dataTables.dateTime.min.css" />

    <script defer src="~/assets/Administration/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_1.13.5_js_jquery.dataTables.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_dataTables.buttons.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_pdfmake.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_vfs_fonts.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.html5.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.print.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/2.29.2_moment.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/1.5.1_js_dataTables.dateTime.min.js"></script>

    <script defer src="~/assets/Administration/js/DataTable/DataTableGroups.js"></script>

</heah>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Lista de Grupos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Inicio</a></li>
                <li class="breadcrumb-item">Grupos</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <br />
                        <div class="row">
                            <br>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <br>
                                        @if (ViewBag.MsjPantallaPostivo != null)
                                        {
                                            <div id="mensajePositivo" style="text-align:center" class="alert alert-success" role="alert">
                                                @ViewBag.MsjPantallaPostivo
                                            </div>
                                        }
                                        @if (ViewBag.MsjPantallaNegativo != null)
                                        {
                                            <div id="mensajeNegativo" style="text-align:center" class="alert alert-danger" role="alert">
                                                @ViewBag.MsjPantallaNegativo
                                            </div>
                                        }
                                    <table id="DataTable" class="table table-hover" style="width: 100% !important;">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Grupo</th>
                                                <th style="text-align:center">Horario</th>
                                                <th style="text-align:center">Profesor</th>
                                                <th style="text-align:center">Fecha Inicio</th>
                                                <th style="text-align:center">Fecha Final</th>
                                                <th style="text-align:center">Maximo Estudiantes</th>
                                                <th style="text-align:center">Numero Estudiantes</th>
                                                <th style="text-align:center">Estado</th>
                                                <th style="text-align:center">Acciones</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style="text-align:center">
                                                    <td>@item.GroupName</td>
                                                    <td>@item.ScheduleDescription</td>
                                                    <td>@item.TeacherName</td>
                                                    <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                                                    <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                                                    <td>@item.MaxStudentsNumber</td>
                                                    <td>@item.StudentsNumber</td>
                                                    <td>@item.StatusName</td>

                                                    <td style="text-align:center">
                                                        <a type="submit" class="btn  text-white" style="background-color: #5f81e8; display: inline-flex; margin-bottom: 5px" href="@Url.Action("EditGroup","Group", new { i = item.GroupId })"><i class="bi bi-pencil-square"></i>Editar</a>

                                                        <a type="submit" class="btn  text-white" style="background-color: #5f81e8; display: inline-flex; margin-bottom: 5px" href="@Url.Action("ShowStudentsInGroup","Group", new { groupId = item.GroupId })"><i class="bi bi-person"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="text-align:center">Grupo</th>
                                                <th style="text-align:center">Horario</th>
                                                <th style="text-align:center">Profesor</th>
                                                <th style="text-align:center">Fecha Inicio</th>
                                                <th style="text-align:center">Fecha Final</th>
                                                <th style="text-align:center">Maximo Estudiantes</th>
                                                <th style="text-align:center">Numero Estudiantes</th>
                                                <th style="text-align:center">Estado</th>
                                                <th style="text-align:center">Acciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Regresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/assets/Administration/js/SetPeople.js"></script>


