@model CCIH.Entities.CustomerUserEnt
@{
    ViewBag.Title = "EditarUsuario";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}



<main id="main" class="main">

    <div class="pagetitle">
        <h1>Editar Usuario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administration/Inicio">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Editar Usuario</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formulario de Registro de Usuario</h5>

                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div class="container">
                            @Html.HiddenFor(m => m.UserId)
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Cédula del usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Id, new { @type = "number", @placeholder = "Digite la cédula", @id = "cedula", @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div id="prueba" class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Nombre del usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Name, new { @type = "text", @placeholder = "Digite el nombre del usuario", @id = "nombre", @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Primer Apellido</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.LastName, new { @type = "text", @placeholder = "Digite el primer apellido", @id = "pApellido", @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Segundo Apellido</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.SecLastName, new { @type = "text", @placeholder = "Digite el segundo apellido", @id = "sApellido", @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Correo Electronico</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Email, new { @type = "text", @placeholder = "Digite el correo electronico", @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                            
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Estado</label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(m => m.StatusId, ViewBag.Status as List<SelectListItem>, "Selecione el estatus", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Seleccione el Rol</label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(m => m.IdRol, ViewBag.Rol as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Digite el nombre de usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.User, new { @type = "text", @placeholder = "Digite el nombre de usuario", @class = "form-control" })
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mb-3">
                                <button type="submit" class="btn btn-primary btn-block">Editar usuario</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
