@model IEnumerable<CCIH.Entities.CourseEnt>

@{
    ViewBag.Title = "Inicio";
}

<main id="main">
    <!-- ======= Carrusel ======= -->
    <section id="popular-courses" class="courses" style="margin-top: 50px">
        <div class="container" style="text-align: justify">

            <div class="section-title">
                <h2 style="margin-top:10px">Cursos</h2>
                <p style="margin:1%">Cursos más Populares</p>
            </div>
 
            <!-- Barra de búsqueda y botón para abrir el modal -->
            <div class="container mt-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Buscar cursos">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
                        Buscar
                    </button>
                </div>
            </div>
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="text-align: justify; padding: 0 15% 0 15%;">
                    <div class="row" data-aos="zoom-in" data-aos-delay="100">
                        @{
                            var modelCount = Model.Count();
                            for (int i = 0; i < modelCount; i += 1)
                            {
                                <div class="carousel-item @((i == 0) ? "active" : "")">
                                    <div class="row justify-content-center align-items-center" data-aos="zoom-in" data-aos-delay="100">
                                        @foreach (var curso in Model.Skip(i).Take(1))
                                        {
                                            <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                                                <div class="card">
                                                    <a href="#"><img src="../assets/Home/img/@curso.image" class="card-img-top" alt="..."></a>
                                                    <div class="card-body">
                                                        <h4 class="card-title">@curso.CourseName</h4>
                                                        <p class="card-text">45% Descuento</p>
                                                        <h3><a href="@Url.Action("Eng_Intensive_V","Home")">@curso.ModalityName</a></h3>
                                                        <h3><a href="@Url.Action("Eng_Intensive_V","Home")">@curso.LevelCourseName</a></h3>
                                                        <p class="card-text">@curso.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <a class="carousel-control-prev text-light btn-sm" href="#carouselControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next text-light btn-sm" href="#carouselControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-black " aria-hidden="true"></span>
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Resultados de la búsqueda</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Aquí mostrarás los resultados de la búsqueda -->
                            <div id="searchResults" class="row"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>




</main>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myCarousel = new bootstrap.Carousel(document.getElementById('carouselControls'), {
            interval: 4000
        });
    });


    // Agregar un evento al botón de búsqueda
    document.querySelector('button[data-bs-target="#searchModal"]').addEventListener('click', function () {
        // Realizar la llamada al método del controlador con el término de búsqueda
        var searchTerm = searchInput.value;

        // Realizar la solicitud AJAX con Fetch API
        $.ajax({
            url: '@Url.Action("ObtenerCursosDesdeBaseDeDatos", "Course")',
            type: 'GET',
            data: { name: searchTerm },
            success: function (data) {
                /// Limpiar resultados anteriores
                searchResults.innerHTML = '';


                // Verificar si los datos son un objeto y contienen propiedades
                data.forEach(curso => {
                    var resultHtml = `
                    <div class="col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <a href="#"><img src="../assets/Home/img/${curso.image}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h4 class="card-title">${curso.CourseName}</h4>
                                <p class="card-text">45% Descuento</p>
                                <h3><a href="#">${curso.ModalityName}</a></h3>
                                <h3><a href="#">${curso.LevelCourseName}</a></h3>
                            </div>
                        </div>
                    </div>
                `;
                    searchResults.innerHTML += resultHtml;
                });


                    // Abrir el modal después de cargar los resultados
                    $('#searchModal').modal('show');

            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    });


</script>