@model CCIH.Entities.UsuarioClienteEnt
@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Registro de usuario</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administracion/Inicio">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Registrar Usuario</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    @using (Html.BeginForm("RegistrarUsuario", "Usuario", FormMethod.Post))
    {
        <section class="section">
            <div class="row">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formulario de Registro de Usuario</h5>

                        <div class="container">
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Cédula del usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Cedula, new { @type = "number", @placeholder = "Digite la cédula", @id = "cedula", @class = "form-control", @onkeydown = "return event.keyCode !== 69" })
                                </div>
                            </div>
                            <div id="prueba" class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Nombre del usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @placeholder = "Digite el nombre del usuario", @id = "nombre", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Primer Apellido</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Apellido1, new { @type = "text", @placeholder = "Digite el primer apellido", @id = "pApellido", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Segundo Apellido</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Apellido2, new { @type = "text", @placeholder = "Digite el segundo apellido", @id = "sApellido", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Correo Electronico</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Correo, new { @type = "text", @placeholder = "Digite el correo electronico", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Telefono del Usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Telefono, new { @type = "number", @placeholder = "Digite el telefono", @class = "form-control", @onkeydown = "return event.keyCode !== 69" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.FechaNacimiento, new { @type = "datetime-local", @class = "form-control" })

                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Direccion</label>
                                <div class="col-sm-5">
                                    @Html.TextAreaFor(m => m.Direccion, new { @type = "datetime-local", @placeholder = "Digite la direccion del usuario", @class = "form-control" })

                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Estado</label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(m => m.IdEstatus, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Activo", Value = "1" },
                                            new SelectListItem { Text = "Inactivo", Value = "2" }
                                        }, "Seleccione un estado", new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Seleccione el Rol</label>
                                <div class="col-sm-5">
                                    @Html.DropDownListFor(m => m.IdRol, ViewBag.Combo as List<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3 d-flex justify-content-center">
                                <label for="inputNumber" class="col-sm-3 col-form-label">Digite el nombre de usuario</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(m => m.Usuario, new { @type = "text", @placeholder = "Digite el nombre de usuario", @class = "form-control" })
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-end mb-3">
                                <button type="submit" class="btn btn-primary btn-block">Registrar usuario</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    }
</main>

@section ApiUsuario {
    <script>
        $(document).ready(function () {
            $("#cedula").on("focusout", function () {
                buscarPersona();
            });
        });
        function buscarPersona() {
            var cedula = $("#cedula").val();
            var url = "https://apis.gometa.org/cedulas/" + cedula;

            $.getJSON(url, function (data) {
                // Extraer nombre y apellidos
                $("#nombre").val(data.results[0].firstname1);
                $("#pApellido").val(data.results[0].lastname1);
                $("#sApellido").val(data.results[0].lastname2);

            });
        }
    </script>
}
