@model CCIH.Entities.RegistrationEnt

@{
    ViewBag.Title = "Matricula";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

@using (Html.BeginForm("CreateRegistration", "Registration", FormMethod.Post))
{
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Crear Matricula</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Administration/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Matricula</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->


        <section class="section">
            <div class="row">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Matricula</h5>


                        @if (ViewBag.MsjPantallaPostivo != null)
                        {
                            <div style="text-align:center" class="alert alert-success" role="alert">
                                @ViewBag.MsjPantallaPostivo
                            </div>
                        }

                        <!-- General Form Elements -->

                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Cedula</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.PersonalID, new { @type = "text", @placeholder = "Digite la Cédula", @class = "form-control", id = "personalIDField", @Value = @Session["CedulaCliente"].ToString()})
                            </div>
                            <div class="col-sm-5 offset-2">
                                <div class="validation-message text-danger" id="validationMessage"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Curso</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.CourseId, ViewBag.Course as List<SelectListItem>, "Selecione el Curso", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Modalidad</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.ModalityId, ViewBag.Modality as List<SelectListItem>, "Selecione la Modalidad", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Nivel</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.LevelCourseId, ViewBag.Level as List<SelectListItem>, "Selecione el nivel", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Horario</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(m => m.ScheduleId, ViewBag.Schedule as List<SelectListItem>, "Selecione el horario", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Monto Mensual</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.Amount, new { @type = "text", @placeholder = "Digite el Monto", @class = "form-control" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Fecha de Matricula</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.RegistrationDate, new { @type = "date", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Dia de Pago</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.PaymentDay, new { @type = "Number", @class = "form-control", id = "DayPay" })
                            </div>
                            <div class="col-sm-5 offset-2">
                                <div class="validation-message text-danger" id="DayValidationMessage"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Comentario</label>
                            <div class="col-sm-5">
                                @Html.TextAreaFor(m => m.Comments, new { @type = "Text", @placeholder = "Digite un comentario de ser necesario", @class = "form-control", @style = "height: 50px" })
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-6 mt-3">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#basicModal">Ingresar Matricula</button>
                            </div>
                        </div>




                    </div>
                </div>

            </div>

        </section>

    </main><!-- End #main -->
    <!-- Modal -->
    <div class="modal fade" id="basicModal" tabindex="-1">
        <div class="modal-dialog justify-content-center align-items-center" style="margin-top: 15%">
            <div class="modal-content justify-content-center align-items-center">
                <div class="modal-header align-items-center">
                    <h5 class="modal-title justify-content-center align-items-center"><i class="bi bi-patch-question text-success"></i>  Alerta  <i class="bi bi-patch-question text-success"></i></h5>
                </div>
                <div class="modal-body" style="text-align:center">
                    ¿Desea crear la matrícula?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Matricular</button>
                </div>
            </div>
        </div>
    </div><!-- End Modal-->
}

<script>

    document.querySelector('#personalIDField').addEventListener('input', function () {
        var cedula = this.value;
        var validationMessage = document.querySelector('#validationMessage');
        if (!/^\d+$/.test(cedula)) {
            validationMessage.innerHTML = "Por favor, ingrese solo números en el campo de Cédula.";
        } else {
            validationMessage.innerHTML = "";
        }
    });
 
    document.querySelector('#DayPay').addEventListener('input', function () {
        var cedula = this.value;
        var validationMessage = document.querySelector('#DayValidationMessage');
        if (!/^\d+$/.test(cedula)) {
            validationMessage.innerHTML = "Por favor, ingrese solo números en el campo de Dia de Pago.";
        } else {
            validationMessage.innerHTML = "";
        }
    });

    // Esperar 5 segundos y luego ocultar el mensaje
    setTimeout(function () {
        var mensajeDiv = document.getElementById('MsjPantallaPostivo');
        mensajeDiv.style.display = 'none';
        Session["MensajePositivo"] = 0;

    }, 5000); // 5000 milisegundos = 5 segundos

 </script>