@model CCIH.Entities.CustomerEnt


@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Agregar Cliente</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Agregar Cliente</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section">
        <div class="row">




            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informacion del cliente</h5>

                    <!-- General Form Elements -->
                    @using (Html.BeginForm("CreateRegister", "Admin", FormMethod.Post))
                    {



                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Cedula</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.PersonalID, new { @type = "text", @placeholder = "Digite la Cedula", @class = "form-control", required = "required" })
                            </div>
                        </div>



                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Email, new { @type = "email", @placeholder = "Digite el correo electronico", @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Name, new { @type = "Text", @placeholder = "Digite el Nombre", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Primer Apellido</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.LastName, new { @type = "Text", @placeholder = "Digite el Primer Apellido", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Segundo Apellido</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.SecLastName, new { @type = "Text", @placeholder = "Digite el Segundo Apellido", @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Birthdate, new { @type = "date", @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Telefono</label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Phone, new { @type = "Text", @placeholder = "Digite el Telefono", @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Direccion</label>
                            <div class="col-sm-7">
                                @Html.TextAreaFor(m => m.Address, new { @type = "Text", @placeholder = "Digite la direccion", @class = "form-control", @style = "height: 50px", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Estado</label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.StatusId, ViewBag.State as List<SelectListItem>, "Seleccione el estado", new { @class = "form-control", required = "required" })
                            </div>
                        </div>



                        <div class="row mb-5">
                            <div class="col-6 mt-3">
                                <button type="button" class="btn btn-secondary" style="margin-left: 190px;" onclick="window.history.back();">Regresar</button>
                            </div>
                            <div class="col-6 mt-3">
                                <button type="submit" class="btn btn-primary" style="margin-left: 120px;">Ingresar Cliente</button>
                            </div>
                        </div>




                    }

                </div>
            </div>

        </div>

    </section>

</main><!-- End #main -->
