@model IEnumerable<CCIH.Entities.TeacherEnt>


@{
    ViewBag.Title = "AllHours";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}


<head>

    <link rel="stylesheet" href="~/assets/Administration/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/1.5.1_css_dataTables.dateTime.min.css" />

    <script defer src="~/assets/Administration/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_1.13.5_js_jquery.dataTables.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_dataTables.buttons.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_pdfmake.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_vfs_fonts.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.html5.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.print.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/2.29.2_moment.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/1.5.1_js_dataTables.dateTime.min.js"></script>

    <script defer src="~/assets/Administration/js/DataTable/DataTableHoras.js"></script>



</head>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Lista de Horas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Inicio</a></li>
                <li class="breadcrumb-item">Profesores</li>
                <li class="breadcrumb-item"> Ver Horas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="container-fluid">

                            @if (ViewBag.MsjPantallaPostivo != null)
                            {
                                <div id="mensajePositivo" style="text-align:center" class="alert alert-success" role="alert">
                                    @ViewBag.MsjPantallaPostivo
                                </div>
                            }
                            @if (ViewBag.MsjPantallaNegativo != null)
                            {
                                <div id="mensajeNegativo" style="text-align:center" class="alert alert-danger" role="alert">
                                    @ViewBag.MsjPantallaNegativo
                                </div>
                            }

                            <br />
                            <!-- General Form Elements -->


                            <div class="row">
                                <div class="col-md-10">
                                    <table border="0" cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td>Fecha Inicio:</td>
                                                <td><input type="text" id="min" name="min" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Fecha Fin:</td>
                                                <td><input type="text" id="max" name="max" class="form-control"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-2">
                                    Total de Horas
                                    <input type="text" id="TotalHoras" name="TotalHoras" class="form-control" readonly>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="DataTable" class="table table-hover text-center" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Nombre</th>
                                                    <th style="text-align:center">Entrada</th>
                                                    <th style="text-align:center">Salida</th>
                                                    <th style="text-align:center">Suma de Horas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        @if (@item.EntryTime.ToString() == "1/1/0001 00:00:00")
                                                        {
                                                            <td>Pendiente</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@item.EntryTime</td>
                                                        }
                                                        @if (@item.ExitTime.ToString() == "1/1/0001 00:00:00")
                                                        {
                                                            <td>Pendiente</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@item.ExitTime</td>
                                                        }
                                                        <td>@item.TotalHours</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-2 order-lg-3 ms-auto">
                            <button type="button" class="btn btn-secondary m-0 mb-3" onclick="window.history.back();">Regresar</button>
                        </div>
                    </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <button type="button" class="btn btn-secondary m-0 mb-3" onclick="window.history.back();">Regresar</button>
                    </div>

                </div>
               
            </div>

    </section>
</main><!-- End #main -->
 