@model IEnumerable<CCIH.Entities.TeacherEnt>


@{
    ViewBag.Title = "JustTeachers";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Lista de Horas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Inicio</a></li>
                <li class="breadcrumb-item">Profesores</li>
                <li class="breadcrumb-item"> Ver Horas</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="container-fluid">
                            <style>
                                .col-form-label {
                                    width: 100%;
                                }

                                .form-control {
                                    width: 100%;
                                }

                                .btn-block {
                                    width: 100%;
                                }
                            </style>

                            <form onsubmit="return sumHours();">

                                <div class="row align-items-center" style="position: initial; margin: 3%; text-align: center;">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="col-lg-3">
                                                <label for="inputDate" class="col-form-label">Cédula:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <input style="width:100% " type="text" class="form-control" name="Cedula" id="PersonalId">
                                            </div>


                                        </div>


                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="col-lg-4">
                                                <label for="inputDate" class="col-form-label">Entrada:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <input type="date" class="form-control" name="EntryTime" id="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="col-lg-3">
                                                <label for="inputDate" class="col-form-label">Salida:</label>
                                            </div>
                                            <div class="col-lg-8">
                                                <input type="date" class="form-control" name="ExitTime" id="date">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-3" style="margin-top: 3.5%">
                                        <div class="row align-items-end">
                                            <div class="col-lg-6">
                                                <button type="submit" id="buscarBtn" class="btn btn-primary btn-block" disabled>Buscar</button>

                                            </div>
                                            <div class="col-lg-5">
                                                <input id="TotalWorkHours" name="TotalWorkHours" type="text" class="form-control" readonly disabled value="@ViewBag.TotalWorkHours" />
                                            </div>
                                        </div>
                                    </div>




                                </div>

                                <span id="validationMessage" style="color: red; display: block; margin-top: 5px; text-align: center"></span>
                                <span id="validationID" style="color: red; display: block; margin-top: 5px; text-align: center"></span>


                            </form>

                            <br />

                            @if (ViewBag.MsjPantallaPostivo != null)
                            {
                                <div id="mensajePositivo" style="text-align:center" class="alert alert-success" role="alert">
                                    @ViewBag.MsjPantallaPostivo
                                </div>
                            }
                            @if (ViewBag.MsjPantallaNegativo != null)
                            {
                                <div id="mensajeNegativo" style="text-align:center" class="alert alert-danger" role="alert">
                                    @ViewBag.MsjPantallaNegativo
                                </div>
                            }

                            <br />
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="DataTable" class="table table-hover text-center" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Cédula</th>
                                                    <th style="text-align:center">Nombre</th>
                                                    <th style="text-align:center">Entrada</th>
                                                    <th style="text-align:center">Salida</th>
                                                    <th style="text-align:center">Total de Horas</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.PersonalID</td>
                                                        <td>@item.Name</td>
                                                        <td>@(item.EntryTime.HasValue ? item.EntryTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "Registro Pendiente.")</td>
                                                        <td>@(item.ExitTime.HasValue ? item.ExitTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : "Registro Pendiente.")</td>
                                                        <td>@item.TotalHours</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 order-lg-3 ms-auto">
                                <button type="button" class="btn btn-secondary m-0 mb-3" onclick="window.history.back();">Regresar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<script>
    function sumHours() {
        // Obtener el número de cédula ingresado
        var cedulaInput = document.querySelector('input[name="Cedula"]').value;

        // Agarrar toda la información
        var tableRows = document.querySelectorAll("#DataTable tbody tr");
        var totalHours = 0;
        var totalMinutes = 0;
        var totalSeconds = 0;

        // Recorrer fila por fila
        tableRows.forEach(function (row) {
            // Agarra la Cédula
            var cedulaCell = row.cells[0].innerText;

            // Verificar si la cédula coincide con la ingresada
            if (cedulaCell === cedulaInput) {
                // Obtener el valor de la celda TotalHours
                var totalHoursCell = row.cells[4].innerText;

                // Dividir la cadena en partes (hora, minuto, segundo)
                var parts = totalHoursCell.split(':');

                // Sumar
                totalHours += parseInt(parts[0]) || 0; // Si no se puede convertir a número, sumar 0
                totalMinutes += parseInt(parts[1]) || 0;
                totalSeconds += parseInt(parts[2]) || 0;
            }
        });

        // Ajusta los minutos y segundos si superan sus respectivos límites
        totalMinutes += Math.floor(totalSeconds / 60);
        totalSeconds %= 60;

        totalHours += Math.floor(totalMinutes / 60);
        totalMinutes %= 60;

        var formattedTotal = formatTime(totalHours) + ":" + formatTime(totalMinutes) + ":" + formatTime(totalSeconds);
        document.getElementById("TotalWorkHours").value = formattedTotal;
        document.getElementById("validationMessage").innerText = ""; // Limpiar el mensaje de validación
        return false;
    }

    function formatTime(time) {
        return time < 10 ? "0" + time : time;
    }

    function validateDates() {
        var entryTime = document.querySelector('input[name="EntryTime"]').value;
        var exitTime = document.querySelector('input[name="ExitTime"]').value;
        var cedula = document.querySelector('input[name="Cedula"]').value;
        var buscarBtn = document.getElementById('buscarBtn');
        var validationMessage = document.getElementById('validationMessage');

        // Deshabilitar el botón si alguna de las fechas o la cédula no está ingresada
        buscarBtn.disabled = !(entryTime && exitTime && cedula);

        // Mostrar un mensaje de validación si el botón está deshabilitado
        validationMessage.innerText = buscarBtn.disabled ? "* Por favor, completa todos los campos.": "";
    }

    // Llamar a la función validateDates cuando se cambie el valor de las fechas o la cédula
    document.querySelector('input[name="EntryTime"]').addEventListener('input', validateDates);
    document.querySelector('input[name="ExitTime"]').addEventListener('input', validateDates);
    document.querySelector('input[name="Cedula"]').addEventListener('input', validateDates);


 

    document.querySelector('#PersonalId').addEventListener('keyup', function () {
        var id = this.value;
        var validationMessage = document.querySelector('#validationID');
        if (!/^\d+$/.test(id)) {
            validationMessage.innerHTML = "* El campo Cédula solo permite numeros.";
            this.style.borderColor = "FireBrick";
        } else {
            validationMessage.innerHTML = "";
            this.style.borderColor = "Green";
        }
    });


</script>
